
div.hello{
    font-size: 130px;
}
body{
    margin: 0px;
    height: 1000px;
    background-image: url("assets/topography.png");
    
}
/* navigacios sav: */

.nav{
    font-family: Courier, monospace;
    width: 100%;
    height: 55px;
    background-color: #333333;
    
}
#home, #wiki, #github, #linkedin{
    color: #ff0099;
    padding: 10px;
    margin-left: 10px;
    margin-right: 10px;
    
    
}
#linkedin{
    margin-right: 0;
    padding-right: 0;
}
.logo{
    padding-left: 5%;
    padding-top:14px;
}
#links{ 
    /* width: auto; */
    font-family: 'Roboto Mono', monospace;  
    font-weight: 500;
    font-size: 14.7px;
    /* display: inline-block;     */
    position: absolute;
    top: 18px;
    right: 0px;    
    padding-right: 10%;
}

/* Tartalom: */
    
h1{
    font-size: 50px;
}
h1, h3, h2{
    font-family: 'Merriweather', serif;
}
#alcim{
    color: #ff0099;
    margin-bottom: 0;
}
h3{
    font-size: 30px;
    font-weight: 500;

}
h2{
    text-align: center;
    font-size: 35px;
}
#tartalom{
    font-family: 'Roboto Mono', sans-serif;
    margin-left: auto;
    margin-right: auto;
    /* border: 4px solid red; */
    padding: 6% 10%
}
.szoveg{
    font-family: 'roboto mono', sans-serif;
    text-align: justify;
    line-height: 25px;
}
#elvalasztas{
    padding: 3%;
    text-align: center;
    /* margin:0; */
}
@media(max-width:768px){
    .nav{
        height: 150px;
        width: 100%;
        display: flex;
        flex-basis: 100%;
    }
    .logo{
        position: absolute;
        left: calc(50% - 16px);
    }
    #links{
        height: 40px;
        position: absolute;
        top: 100px;
        left:0px;
        display: flex;
        flex-basis: 80%;
        flex-grow: 1;
        flex-shrink: 1;
        padding:0 10%;
        
        
        /* border: 1px solid red; */
        
    }
    #home, #wiki, #github, #linkedin{
        width: 100px;
        height: 20px;
        display: flex;
        flex-basis: 20%;
        flex-grow: 1;
        flex-shrink: 0;
        /* border: 1px solid red; */
        margin: 0;
        padding: 0;
    }
    #linkedin{
        /* border: 1px solid red; */
        display: flex;
        flex-basis: 2%;
    }

    
   
    
    
}

